<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uni_luebeck.imis.gestures">

    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_gesture"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activities.StartActivity">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>
        <activity
            android:name=".activities.EvaluationActivity">
        </activity>
        <activity
            android:name=".activities.DetectGesturesActivity">
        </activity>
    </application>

</manifest>